<%= stylesheet_link_tag 'form' %>
<%= form_for(user, class:"form" ) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class=enclosure>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password %>

  </div>
  <div class="field">

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
<br/>
<% if current_user %>
  <% if current_user.role == 2 %>
    <div class="field">
      <%= f.label :role %>
      <%= f.text_field :role %>
    </div>
  <% end %>

  <%= fields_for @user.preference do |p| %>


  <div class="chosen-field">
    <%= p.label "Health Label" %><!--- was :healthlabel_ids -->
    <%= p.select( :healthlabel_ids , Healthlabel.all.map{|a| [a.name, a.id]}, { :prompt => ""}, { :multiple => true, class: 'chosen-select' } )%>

  </div>

  <div class="chosen-field">
    <%= p.label "Diet Label" %> <!--- was :dietlabel_ids -->
    <%= p.select :dietlabel_ids, Dietlabel.all.map{|a| [a.name, a.id]}, { :prompt => ""}, { :multiple => true, class: 'chosen-select' } %>

  </div>
  <%end%>
<% else %>
  <%= fields_for @preference do |p| %>

  <div class="chosen-field">
    <%= p.label "Health Label" %> <!--- was :healthlabel_ids -->
    <%= p.select :healthlabel_ids , Healthlabel.all.map{|a| [a.name, a.id]}, { :prompt => ""}, { :multiple => true, class: 'chosen-select' }   %>

  </div>
<br/>

  <div class="chosen-field">
    <%= p.label "Diet Label" %> <!--- was :dietlabel_ids -->
    <%= p.select :dietlabel_ids, Dietlabel.all.map{|a| [a.name, a.id]}, { :prompt => ""}, { :multiple => true, class: 'chosen-select' }   %>

  </div>
  <%end%>

<% end %>

  <div class="actions">
    <%= f.submit class: "btn btn-primary"%>
  </div>
</div>

<% end %>
