
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js"></script>

<% content_for(:body_attributes) do %>
  data-no-turbolink="true"
<% end %>

<div class="container">
<h1 class="page-headers">Recommended for You </h1>
  <p></p>


  <span class="insertDynamicData"> </span>

  <img id="loading" src="/ajax-loader.gif">

  <a id="more_btn" href="javascript:void(0);" onclick="more()" class="btn btn-warning pull-right" style="margin-bottom:200px;">Load More</a>

<!--  <a id="more_btn" href="javascript:void(0);" onclick="more()" class="btn btn-warning pull-right" style="margin-bottom:200px;">Load More</a> -->

</div>



<script>

$('[data-toggle="popover"]').popover({
  placement: "auto",
  trigger: "hover"
})

function tableData(r, extra) {
    tdata = ""
    if (extra == true){
      tdata+= '<div class="row portfolio">'
    }
    tdata += '<div class="col-sm-6 col-md-3">'
    tdata += '<div class="thumbnail" data-toggle="popover" title="'+r["label"]+'" data-content= "'+r["healthLabels"] +' '+r["dietLabels"] +'">'
    tdata += '<a href="javascript:void(0);" onclick="save_recipe_to_db($(this),'+"'"+r['uri']+"'"+')">'
    tdata += '<img id="saved-image" class="img-responsive" src="'+r["image"]+'" alt="" >'
    tdata += '<h3 id="recipe-name">'+r["label"]+'</h3> </a>'
    if (r["rExist"] == 1) {
      tdata += '<a href="javascript:void(0);"> Saved </a>'
    }
    else {
      tdata += '<i class="material-icons">save</i><a href="javascript:void(0);" onclick="save_recipes($(this),'+"'"+r['uri']+"'"+')">Save recipe</a>'
    }
    tdata += '</div> '
    tdata += '</div>'
    if (extra== true ){
      tdata += '</div>'
    }
  return tdata
}

var links = []
var foundItems = []
var currentPagesLoaded = 1

$(document).ready(function(){

    $('#more_btn').hide();
    $.ajax({
      method: "GET",
      url: "<%= all_recipes_user_path(@user) %>"
      }).done(function(resp) {
        if (resp.length == 0) {
          $('.insertDynamicData').append('<h2 class="error-message"> No results match your specified labels! Try again! </h2>')
          $("#more_btn").hide();
        }
        else $('#more_btn').show();
        $('#loading').hide();
          $.each(resp, function(ind, val) {
              foundItems.push(val);
              if ((ind+1)%4==0) {
                $(".insertDynamicData").append(tableData(val, true))
              }
              else{
                $(".insertDynamicData").append(tableData(val, false))
              }
          });
      })




})



function more(){
  $("#more_btn").addClass("disabled","disabled");
  $("#more_btn").removeClass( "btn-warning");
  $("#more_btn").addClass( "btn-default");
  $("#more_btn").text( "Loading...");
  $.ajax({
    method: "GET",
    url: "<%= all_recipes_user_path(@user) %>",
    data: { loadmore: currentPagesLoaded }
  }).done(function(resp) {
    pushedIndex = 0;
    currentPagesLoaded += 1;
    $.each(resp, function(ind, val) {
      addItem = true;
        $.each(foundItems, function(itemInd, itemVal) {
          if (itemVal["uri"] == val["uri"]) {
            addItem = false;
            return;
          }
        });
        if (!addItem) {
          return true;
        }
        foundItems.push(val);

        if ((pushedIndex+1)%4==0) {
          $(".insertDynamicData").append(tableData(val, true))
        }
        else{
          $(".insertDynamicData").append(tableData(val, false))
        }
        pushedIndex += 1
    });
    $("#more_btn").removeClass("disabled","disabled");
    $("#more_btn").removeClass( "btn-default");
    $("#more_btn").addClass( "btn-warning");
    $("#more_btn").text( "Load More");
  });
}


function save_recipes(ele, recipeURI){

  $(ele).text("Saving..");
  var recipe;
  $.each(foundItems, function(ind, val) {
    if (val['uri'] == recipeURI)
    {
      recipe = val
      return
    }
  })
  console.log(recipe)
  $.ajax({
    method: "POST",
    url: "<%= save_recipe_user_path %>",
    data: { id: "<%= params[:id] %>", recipe: recipe },
  }).done(function() {
      console.log("finish save_recipe")
      $(ele).text("Saved");
      $(ele).addClass("disabled","disabled");
  });
}


function save_recipe_to_db(ele,recipeURI){
  var recipe;
  console.log(recipeURI)
  $.each(foundItems, function(ind, val) {
    if (val['uri'] == recipeURI)
    {
      recipe = val
      console.log(recipe)

      return
    }
  })

  console.log(recipe)
  $.ajax({
    method: "POST",
    url: "<%= save_recipeOnly_user_path %>",
    data: { id: "<%= params[:id] %>", recipe: recipe },
  }).done(function(rec) {
    window.location.pathname = ("/recipes/"+rec)
  });
}

</script>
