<%= stylesheet_link_tag 'index' %>
<%= stylesheet_link_tag 'gallery' %>
<% if current_user %>
  <h1 style="float: right; font-size: 18px; margin-right:20px;">
  	Logged in as <%=link_to current_user.username, edit_user_path(current_user) %>
  </h1>
<% end %>

<div class="logo">
  <img  class= "logo" src="/logo-transparent.png" alt="logo" />
</div>
<div class="recipes_of_the_week">
  <h1 style="text-align: center; font-weight: 700;">Popular Recipes of the Week</h1>
  <div id="myCarousel" class="carousel slide" data-ride="carousel" style="width: 60%; height: 50%;">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
  <% @recipes.each_with_index do |r, index| %>
    <% if index==0 %>
      <div class="item active">
    <% else %>
      <div class="item">
    <% end %>

  	<% if current_user %>
	    <a href="<%= recipe_path(r) %>">
	   <% else %>
	   	<a href="<%= new_session_path %>">
	  <% end %>
    <img class="img-responsive center-block" src="<%= r.sourceIcon %>"  ></a>
    <div class="carousel-caption" style="bottom: 7%">
      <h3 style="font-size: 40px; color: #990000; font-weight: bold; background-color: #eff4fc; filter: alpha(opacity=100); opacity: 0.8; display: inline-block"><%= r.title %></h3>
    </div>
  </div>
  <%end%>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  <span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  <span class="sr-only">Next</span>
</a>
</div>
</div>
<div class="logo">
<% if !current_user %>
  <h2 style="left:50%, right:50%, font-size: 20px; margin-right:20px;">
    Log in or create an account to get started on FoodNatic!
  </h2>
<% end %>
</div>
</div>
